__init__.py
RegTool_v1.0.py
geckodriver.log
RegTool_v1.6.py
Testing_Phase.ipynb
build/
dist/
driver/
*.spec
requirements.txt
.vscode/
.ipynb_checkpoints/
app/__pycache__
app/__pycache__/*
Tmp/
userpass.txt
userdata/
*/__pycache__/*
upload_env/
*.txt
NAME.spec